NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1
MONGODB_URI=mongodb://127.0.0.1:27017/erp_universal_development
MONGODB_DB_NAME=erp_universal_development
JWT_SECRET=
JWT_REFRESH_SECRET=
SEED_ADMIN_PASSWORD=
